# create a new file called .env and copy code into the .env file
# replace password and dbname with mongodb password and database name

MONGODB_URI=mongodb+srv://user-4za6:<password>@eruku-mesi.l7ysf.mongodb.net/<dbname>?retryWrites=true&w=majority